# Copyright 2009-2013 Eucalyptus Systems, Inc.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 3 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see http://www.gnu.org/licenses/.
#
# Please contact Eucalyptus Systems, Inc., 6755 Hollister Ave., Goleta
# CA 93117, USA or visit http://www.eucalyptus.com/licenses/ if you need
# additional information or have any questions.

#
# Public Mirrors
[centos-base:public]
mirrorlist=http://mirrorlist.centos.org/?release=6&arch=$basearch&repo=os

[centos-updates:public]
mirrorlist=http://mirrorlist.centos.org/?release=6&arch=$basearch&repo=updates

[epel:public]
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=epel-6&arch=$basearch

[load-balancer-servo:public]
baseurl=http://downloads.eucalyptus.com/software/load-balancer/nightly/1.0/centos/6/$basearch/

#
# Eucalyptus Internal Mirrors
[centos-base:internal]
baseurl=http://mirror.qa.eucalyptus-systems.com/centos/6.4/os/$basearch/

[centos-updates:internal]
baseurl=http://mirror.qa.eucalyptus-systems.com/centos/6.4/updates/$basearch/

[load-balancer-servo:internal]
mirrorlist=http://packages.release.eucalyptus-systems.com/api/1/genrepo/?distro=centos&releasever=6&arch=x86_64&ref=master&url=git://github.com/eucalyptus/load-balancer-servo.git

[epel:internal]
baseurl=http://mirror.qa.eucalyptus-systems.com/epel/6/$basearch/

